_site
.sass-cache
.jekyll-cache
.jekyll-metadata
vendor
*.swp
node_modules
bower_components
.DS_Store
.ipynb_checkpoints*
notebooks/homework*-demo
_data/.~lock.*
*lock.schedule.csv
_data/*lock.schedule.csv
_data/.~lock.schedule.csv#
Gemfile.lock
